* {
    font-family: "Hack Nerd Font", monospace;
    font-size:   16px;
}

window#waybar {
    background-color: #1a1b26;
    border-bottom:    3px solid #7aa2f7;
    color:            #c0caf5;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border:        none;
    border-radius: 0;
}

/* Workspace hover fix */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding:          0 5px;
    background-color: transparent;
    color:            #a9b1d6;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #7aa2f7;
    color:            #1a1b26;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #f7768e;
    color:            #1a1b26;
}

#custom-separator {
    padding: 0 0 4px 0;
}

#mode {
    background-color: #565f89;
    box-shadow: inset 0 -3px #ffffff;
}

#mode,
#scratchpad,
#pulseaudio,
#network,
#cpu,
#memory {
    padding: 0 8px;
    color:   #c0caf5;
}

#clock {
    padding: 0 16px 0 8px;
    color:   #c0caf5;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
